---
//import projects from '../../content/projects.js'
import ProjectCard from '../ui/ProjectCard.astro'

const projects = [
  {
    projectTitle: 'Fit Experience App',
    projectDescription:
      'Aplicativo de controle, gerenciamento e redirecionamento de treinos e exercicios para treinadores e usuarios comuns.',
    liveLink:
      'https://play.google.com/store/apps/details?id=com.fitexperience.fitexperience',
    githubLink: 'Private',
    projectImage:
      'https://github.com/rdias66/astro-blogfolio-assets/blob/main/images/projects/fitxpapp.png?raw=true',
  },
  {
    projectTitle: 'WebApp de Gerenciamento de oficina mecânica',
    projectDescription:
      'Um projeto nos padroes CRUD para cadastro e gerenciamento de clientes, veículos, fornecedores, peças e orçamentos. O projeto é privado e depende de credenciais. Caso queira testar entre em contato comigo!',
    liveLink: 'https://mectatsch.com',
    githubLink: 'Private',
    projectImage:
      'https://raw.githubusercontent.com/rdias66/astro-blogfolio-assets/refs/heads/main/images/projects/home-full%2Bmobile.png',
  },
  {
    projectTitle: 'Fit Experience Landing',
    projectDescription:
      'Landing page requerida pelo Google para deploy do app na loja, ainda em andamento',
    liveLink: 'https://fitexperience.app',
    githubLink: 'Private',
    projectImage:
      'https://github.com/rdias66/astro-blogfolio-assets/blob/main/images/projects/fitxp-landing.png?raw=true',
  },
  {
    projectTitle: 'Portfolio V1',
    projectDescription: 'Meu primeiro portfolio desenvolvido em Nextjs',
    liveLink: 'https://rdias-portfolio.vercel.app',
    githubLink: 'https://github.com/rdias66/next-portfolio',
    projectImage:
      'https://github.com/rdias66/astro-blogfolio-assets/blob/main/images/projects/next-portfolio.png?raw=true',
  },
  {
    projectTitle: 'Blog profissional',
    projectDescription:
      'Meu blog profissional onde faço conteudo didático de DevOps e full stack em geral',
    liveLink: 'https://blog.rdias66.codes',
    githubLink: 'https://github.com/rdias66/astro-blog',
    projectImage:
      'https://github.com/rdias66/astro-blogfolio-assets/blob/main/images/projects/astro-blog.png?raw=true',
  },
]
---

<div class="margin-top5">
  <section id="projects" class="projects-section">
    <code class="sub-title">Projetos</code>
    {
      projects.map((project) => (
        <ProjectCard
          projectTitle={project.projectTitle}
          projectDescription={project.projectDescription}
          techStack={project.techStack}
          liveLink={project.liveLink}
          githubLink={project.githubLink}
          projectImage={project.projectImage}
        />
      ))
    }
  </section>
</div>

<style>
  .margin-top5 {
    margin-top: 5rem;
  }
  code {
    text-align: center;
  }
  .projects-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }

  .image-section {
    margin-bottom: 1rem;
  }

  .image-section img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .project-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #f8fafc; /* Light title */
  }

  .project-description {
    font-size: 1rem;
    line-height: 1.6;
    color: #d1d5db; /* Subtle text color */
  }

  .tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .tech-stack > * {
    background-color: #0f172a;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
  }

  .links {
    display: flex;
    gap: 1rem;
  }

  .links a {
    color: #38bdf8; /* Link color */
    text-decoration: none;
  }

  .links a:hover {
    text-decoration: underline;
  }
</style>
